<section class="setExcercises">
	<div>
	<form name="workoutForm" ng-repeat="newExercise in newExercise | filter: {selected:true}" id="day{{$index}}" class="setExForm">
		<h1>{{newExercise.dayName}}</h1>
		<ul ng-repeat="workout in newExercise.workouts" class="workoutList">
			<label for="exName"><span>*</span>Exercise Name:</label><input type="text" placeholder="enter name of exercise" id="exName" ng-model="workout.name" required>
			<label for="exWeight">Weight (lbs):</label><input type="number" name="weight" min="1" max="2000" ng-model="workout.weight" id="exWeight">
			<label for="numSets">Number of sets:</label><input type="number" name="setQuantity" min="1" max="20" ng-model="workout.sets" id="numSets">
			<label for="lowRep">Low repetition amount:</label><input type="number" name="minReps" min="1" max="20" ng-model="workout.minReps" id="lowRep">
			<label for="maxRep">Maximum repetition amount:</label><input type="number" name="maxReps" min="1" max="20" ng-model="workout.maxReps" id="maxRep">

			<input class="removeBtn" type="submit" value="Remove Exercise" ng-click="removeExercise($index)" ng-disabled="$first">
		</ul>
		<button ng-click="addNew()">New Exercise</button>
		<!--<input type="submit" value="{{goBtnVal}}"  ng-click="exercises.addExercise(newExercise); showNextDay($index)">-->
		<button  class="nextBtn" ng-click="addExercise(newExercise);  showNextDay($index)" ng-disabled="workoutForm.$invalid">NEXT</button>
		<!--<input type="submit" value="Go to next day"  ng-click="showNextDay($index)"> -->


	</form>
</div>

	<!--<input type="submit" value="Submit"  ng-click="goToWorkoutDisplay()">-->
</section> 