<section class="workoutDisplay">
	<div ng-repeat="day in workoutList | filter: {dayName: today()}" class="workoutsContainer"><!-- Display today's workout plan -->
		<h1>{{day.dayName}}</h1>
		<ul ng-repeat="workout in day.workouts" class="workoutsDisplay">
			<li>{{$index + 1}}. <strong>{{workout.name}}</strong></li>
			<li class="weightBtns"><input type="submit" value="-5" ng-click="removeFive($index)">
			{{workout.weight}} lbs
			<input type="submit" value="+5" ng-click="addFive($index)"></li>
			<li class="setsRep">{{workout.sets}} sets of
			{{workout.minReps}} to 
			{{workout.maxReps}} reps.</li>
		</ul>
	</div>
	<button ng-click="edit()">Edit</button>
</section> 